@import "../../main.scss";

  body {
  height: 100vh;
  overflow: hidden;
}

.sair {
  width: 3%;
  position: absolute;
  left: 20px;
  top: 20px;
  img {
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;

  img {
    width: 40%;
  }
}
.caixa-transparente {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../../../img/fundocontato.png) no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.form {
  @include bordas-arredondadas($raio: 20px);
  width: 40%;
  background-color: rgba(255, 255, 255, 0.223);
  backdrop-filter: blur(5px);
  @include sombra($branco, 0.719);
  height: 750px;

  h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.1em;
    color: $branco;
  }
}
.inputs-all {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.input-entrar {
  display: flex;
  justify-content: center;
  gap: 20px;

  input {
    width: 85%;
    font-size: 1.6em;
    padding: 10px;
    @include bordas-arredondadas($raio: 10px);
    border: none;
    @include sombra($branco, 0.352);
  }
  &::placeholder {
    color: $terceira;
  }
  &:focus {
    outline: none;
    color: $terceira;
  }
}

.links-logos {
  display: flex;
  width: 100%;

  a {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  img {
    width: 50%;
    object-fit: cover;
  }
}

.botao-entrar {
  display: flex;
  justify-content: center;

  button {
    padding: 10px 50px;
    @include bordas-arredondadas($raio: 15px);
    border: none;
    font-size: 1.6em;
    margin: 10px 0 10px;
    background-color: $branco;
    color: $terceira;
    @include sombra($branco, 0.352);
  }
}

.cadastrar {
  text-align: center;
  margin: 10px 0 10px;
  font-weight: bolder;
  color: $branco;
  font-size: 1.3em;
  .cadastrar a {
    color: $terceira;
  }
}

.nsm7Bb-HzV7m-LgbsSe {
  height: 55px !important;
  @include bordas-arredondadas($raio: 15px !important);

  .nsm7Bb-HzV7m-LgbsSe-Bz112c {
    height: 35px !important;
    width: 35px !important;
    margin: 0 !important;
  }

  .nsm7Bb-HzV7m-LgbsSe-BPrWId {
    font-size: 1.3em !important;
  }
}

.g_id_signin {
  width: 85%;
}
