.container-produto {
  margin: 0 100px;
  display: flex;
  gap: 30px;
  .container-imgs {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 70%;
    }
    .container-num {
      margin: 20px 0 0 0;
    }
  }
  .container-info {
    margin: 40px 0;
    width: 50%;
    h1 {
      color: $segunda;
      font-size: 2.8em;
      text-align: left;
      height: 50px;
    }
    h2 {
      text-align: left;
      color: $text-font;
      font-size: 2.8em;
      height: 50px;
    }
    .container-valor {
      @include sombra($preto, 0.2);
      border-radius: 10px;
      padding: 20px;
      margin: 40px 0;
      .separa-text {
        display: flex;
        justify-content: space-evenly;
      }
      .nome-produto {
        width: 60%;
        h3 {
          font-size: 1.3em;
        }
      }
      .valor-produto {
        width: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
        h3 {
          font-size: 1.5em;
          color: $segunda;
        }
      }
    }
  }
  .container-info-compra {
    @include sombra($preto, 0.2);
    border-radius: 10px;
    padding: 30px 35px;
    h3 {
      font-size: 1.5em;
      color: $preto;
      margin: 0 0 25px;
    }
    .info-entrega {
      display: flex;
      gap: 10px;
      align-items: center;
      p {
        color: $segunda;
      }
      img {
        width: 5%;
      }
    }
    .container-mais-info {
      margin: 0 0 20px 35px;
      gap: 5px;
      display: flex;
      flex-direction: column;
    }
    .valores-compra {
      h3 {
        color: $preto;
        margin: 0;
        font-size: 1.7em;
      }
      p {
        color: $links-azul;
      }
      h5 {
        color: $preto;
      }
    }
    .button-compra {
      display: flex;
      justify-content: center;
      margin: 35px 0 0;
      button {
        background-color: $segunda;
        border: 0;
        padding: 5px 45px;
        color: $branco;
        font-size: 1.2em;
        border-radius: 25px;
        @include transicao($tempo: 0.3s, $tipo: ease);
        &:hover {
          @include scala($escala: 1.01);
          background-color: $button-claro;
        }
      }
    }
  }
}
.container-icons {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $preto;
  margin: 10px;
  .container-frete,
  .container-musica {
    width: 50%;
    text-align: center;
    margin: 0 0 30px;
    img {
      width: 10%;
    }
  }
}
