
@mixin sombra($cor, $intensidade: 0.2) {
  box-shadow: 0 0 15px rgba($cor, $intensidade);
}
@mixin bordas-arredondadas($raio: 20px) {
  border-radius: $raio;
}
@mixin scala($escala: 1.1) {
  transform: scale($escala);
}
@mixin transicao($tempo: 0.4s, $tipo: ease) {
  transition: $tempo $tipo;
}

@mixin cor-button($CorFort: rgb(137, 6, 230), $CorClara:rgb(163, 72, 229), $angulo: 140deg) {
  background: $CorFort;
  background: linear-gradient($angulo, $CorFort 0%, $CorClara 100%);
}