$primeira: #100d28;
$segunda: #8906e6;
$terceira: #c484f1;
$quarta: #ff00e2;
$branco: #fff;
$preto: #000;
$text-font : #313131;
$links-azul : #0022e0;
$button-claro : #9947d4;
$font: "Montserrat", sans-serif;
