* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font: inherit;
  font-weight: 400;
  font-synthesis: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #100d28;
  padding: 15px 0px;
}

.logo {
  width: 40%;
}
.logo img {
  width: 35%;
  margin-left: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.234);
  width: 35%;
  margin-right: 30px;
  justify-content: space-around;
}
.nav-links a {
  color: #fff;
  font-size: 20px;
}
.nav-links a:hover {
  color: #c484f1;
  transition: 0.4s ease;
}
.nav-links li:hover {
  transition: 0.4s ease;
  transform: scale(1.1);
}
.nav-links:hover {
  box-shadow: 0 0 15px #c484f1;
  transition: 0.4s ease;
}

.buscar {
  display: flex;
  width: 25%;
  align-items: center;
}
.buscar input {
  padding: 18px;
  border: none;
  border-radius: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.234);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  font-size: 17px;
  margin-right: 20px;
}
.buscar input:hover {
  box-shadow: 0 0 15px #c484f1;
  transition: 0.5s ease;
}
.buscar input:focus {
  outline: none;
  color: #c484f1;
}
.buscar img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 315px;
}

.nav-icons {
  display: flex;
  align-items: center;
  width: 17%;
  gap: 10px;
}

.icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.13);
  padding: 5px;
  border-radius: 50%;
}
.icon:hover {
  box-shadow: 0 0 15px #8906e6;
  transition: 0.5s ease;
  transform: scale(1.1);
}

.banner {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  transition: 0.5s ease-in-out;
}
.carousel-item {
  min-width: 100%;
  transition: 0.5s ease;
}
.carousel-item img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding: 25px 0;
}
.container-caixa {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: #100d28;
}
.container p {
  width: 50%;
  font-size: 1.4em;
}
.container img {
  width: 20%;
}

.sobre {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;
}
.sobre-img {
  width: 60%;
}
.sobre-img img {
  width: 100%;
}
.sobre-texto {
  width: 50%;
  height: 745px;
}
.sobre-texto p {
  text-align: justify;
  font-size: 2.4em;
  width: 90%;
  margin-bottom: 4%;
}
.sobre-texto h1 {
  font-size: 3.9em;
  color: #100d28;
  margin: 30px 0 0;
  height: 95px;
}
.sobre-texto span {
  color: #8906e6;
}
.sobre a {
  font-size: 2.5em;
  color: #fff;
  padding: 25px 50px;
  border-radius: 15px;
  margin: 30%;
  color: #fff;
  background: #8906e6;
  background: linear-gradient(130deg, #8906e6 0%, #c484f1 100%);
}
.sobre a:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transition: 0.5s ease;
  background: #8906e6;
  background: linear-gradient(320deg, #8906e6 0%, #c484f1 100%);
}

.departamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0;
}
.departamentos h1 {
  font-size: 3.5em;
  color: #8906e6;
}
.departamentos-item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 70px 0 50px;
}
.departamentos-img {
  width: 90%;
  gap: 60px;
  display: flex;
}
.departamentos-img img {
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
.departamentos-img img:hover {
  box-shadow: 0 0 15px rgba(137, 6, 230, 0.6);
  transition: 0.5s ease;
  transform: scale(1.05);
}
.departamentos .ver-mais-produtos {
  font-size: 2.5em;
  color: #fff;
  padding: 20px 50px;
  border-radius: 15px;
  background: #8906e6;
  background: linear-gradient(140deg, #8906e6 0%, #c484f1 100%);
}
.departamentos .ver-mais-produtos:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transition: 0.5s ease;
  transform: scale(1.01);
  background: #8906e6;
  background: linear-gradient(340deg, #8906e6 0%, #c484f1 100%);
}

.promocoes {
  margin: 20px 0;
}
.promocoes h1 {
  font-size: 4.9em;
  margin: 30px 0 30px 50px;
  color: #8906e6;
}

.carrossel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carrossel-container .carrossel {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 45px;
}
.carrossel-container .carrossel::-webkit-scrollbar {
  display: none;
}
.carrossel-container .carrossel .carrossel-item {
  flex: 0 0 auto;
  width: 420px;
  height: 600px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.carrossel-container .carrossel .carrossel-item:hover {
  transition: 0.4s ease;
  transform: scale(1.05);
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra {
  text-decoration: none;
  color: #8906e6;
  display: block;
  padding: 15px;
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra img {
  width: 85%;
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra .caixa-information {
  margin-top: 9%;
  height: 30px;
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra .caixa-information h2 {
  font-size: 1.5em;
  color: #8906e6;
  display: flex;
  justify-content: flex-start;
  text-align: justify;
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra .caixa-information h3 {
  color: #000;
  font-size: 1.5em;
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  text-align: justify;
}
.carrossel-container .carrossel .carrossel-item .caixa-sombra .caixa-information del {
  font-size: 1.5em;
  color: #000;
  display: flex;
  justify-content: flex-start;
}
.carrossel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0, 0, 0);
  color: #8906e6;
  border: none;
  padding: 10px 19px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 100%;
  z-index: 99999;
}
.carrossel-container button:hover {
  background: rgba(0, 0, 0, 0.8);
}
.carrossel-container .prev {
  left: 10px;
}
.carrossel-container .next {
  right: 10px;
}

#fone-maior img {
  width: 55%;
}

/*# sourceMappingURL=style.css.map */
