.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $primeira;
  padding: 15px 0px;
}

.logo {
  width: 30%;

  img {
    width: 30%;
    margin-left: 80px;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  backdrop-filter: blur(50px);
  @include sombra($branco, 0.2);
  padding: 10px;
  @include bordas-arredondadas(20px);
  background-color: rgba(255, 255, 255, 0.234);
  width: 35%;
  margin-right: 30px;
  justify-content: space-around;

  a {
    color: $branco;
    font-size: 17px;

    &:hover {
      color: $terceira;
      transition: 0.4s ease;
    }
  }

  li {
    &:hover {
      transition: 0.4s ease;
      @include scala($escala: 1.1);
    }
  }

  &:hover {
    @include sombra($terceira, 100);
    transition: 0.4s ease;
  }
}

.buscar {
  display: flex;
  width: 25%;
  align-items: center;
  position: relative; 
  border-radius: 20px; 
  background-color: rgba(255, 255, 255, 0.234); 
  box-shadow: 0 0 5px rgba($branco, 0.2); 
  margin-right: 20px; 

  input {
    padding: 11px 40px 11px 20px; 
    border: none;
    border-radius: 20px; 
    width: 100%; 
    background-color: transparent; 
    font-size: 16px;
    color: $branco; 

    &:hover {
       @include sombra($terceira, 100); 
       @include transicao($tempo: 0.5s, $tipo: ease); 
    }

    &:focus {
      outline: none;
      color: $branco;
      box-shadow: inset 0 0 0 2px $terceira; 
    }
  }

  img {
    width: 18px;
    height: 18px;
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
   
  }
}

.nav-icons {
  display: flex;
  align-items: center;
  width: 17%;
  gap: 10px;
}

.icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
  backdrop-filter: blur(50px);
  @include sombra($branco, 0.13);
  padding: 5px;
  @include bordas-arredondadas(50%);
  display: block;

  &:hover {
    @include sombra($segunda, 100);
    @include transicao($tempo: 0.5s, $tipo: ease);
    @include scala($escala: 1.1);
  }
}

.banner {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  &-container {
    display: flex;
    @include transicao($tempo: 0.5s, $tipo: ease-in-out);
  }

  &-item {
    min-width: 100%;
    @include transicao($tempo: 0.5s, $tipo: ease);

    img {
      width: 100%;
      height: auto;
    }
  }
}
.departamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 0 100px;
  h1 {
    font-size: 3.5em;
    color: $segunda;
  }
  &-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0 50px;
  }
  &-img {
    width: 90%;
    gap: 60px;
    display: flex;
    img {
      width: 100%;
      @include sombra($preto, 0.2);
      border-radius: 100%;
    }
    img:hover {
      @include sombra($segunda, 0.6);
      @include transicao($tempo: 0.5s, $tipo: ease);
      @include scala($escala: 1.05);
    }
  }
  .ver-mais-produtos {
    font-size: 2.3em;
    color: $branco;
    padding: 15px 50px;
    border-radius: 15px;

    @include cor-button(
      $CorFort: $segunda,
      $CorClara: $terceira,
      $angulo: 140deg
    );

    &:hover {
      @include sombra($branco, 0.6);
      @include transicao($tempo: 0.5s, $tipo: ease);
      @include scala($escala: 1.01);
      @include cor-button(
        $CorFort: $segunda,
        $CorClara: $terceira,
        $angulo: 340deg
      );
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
  padding: 25px 0;
  &-caixa {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: $primeira;
  }
  p {
    width: 50%;
    font-size: 1em;
  }
  img {
    width: 15%;
  }
}
.sobre {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  &-img {
    width: 55%;
    img {
      width: 90%;
    }
  }
  &-texto {
    width: 50%;
  }
  &-texto p {
    text-align: justify;
    font-size: 1.7em;
    width: 90%;
    margin-bottom: 4%;
  }
  &-texto h1 {
    font-size: 2.8em;
    color: $primeira;
    height: 60px;
  }
  &-texto span {
    color: $segunda;
  }
  a {
    font-size: 2em;
    color: $branco;
    padding: 15px 40px;
    border-radius: 15px;
    color: $branco;
    @include cor-button(
      $CorFort: $segunda,
      $CorClara: $terceira,
      $angulo: 130deg
    );
    &:hover {
      @include sombra($branco, 0.6);
      @include transicao($tempo: 0.5s, $tipo: ease);
      @include cor-button(
        $CorFort: $segunda,
        $CorClara: $terceira,
        $angulo: 320deg
      );
    }
  }
}

.promocoes {
  margin: 20px 0;
  h1 {
    font-size: 4.9em;
    margin: 30px 0 30px 50px;
    color: $segunda;
  }
}

.carrossel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  .buttons-carrosel {
    display: flex;
    justify-content: end;
    margin: 0 30px 0;
    gap: 10px;
    button {
      color: $branco;
      border: 0;
      background-color: $segunda;
      padding: 10px 20px;
      border-radius: 5px;
      &:hover {
        @include scala($escala: 1.03);
      }
    }
  }
  .carrossel {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px 35px;

    &::-webkit-scrollbar {
      display: none; // Esconde a barra de rolagem
    }

    .carrossel-item {
      flex: 0 0 auto;
      width: 350px;
      height: 460px;
      margin: 10px;
      border-radius: 10px;
      @include sombra($preto, 0.2);
      text-align: center;

      &:hover {
        @include transicao($tempo: 0.4s, $tipo: ease);
        @include scala($escala: 1.03);
      }

      .caixa-sombra {
        text-decoration: none;
        color: $segunda;
        display: block;
        padding: 20px;
        height: 100%;
        img {
          width: 75%;
        }

        .caixa-information {
          margin-top: 2%;
          height: 30px;

          h2 {
            font-size: 1.2em;
            color: $segunda;
            display: flex;
            justify-content: flex-start;
            text-align: justify;
          }

          h3 {
            color: $preto;
            font-size: 1.2em;
            margin: 5px 0;
            display: flex;
            justify-content: flex-start;
            text-align: justify;
            height: 60px;
          }

          del {
            font-size: 1.2em;
            color: #292929;
            display: flex;
            justify-content: flex-start;
            height: 50px;
          }
        }
      }
    }
  }
}

footer {
  background-color: $primeira;
  color: $branco;
  padding: 30px 0 0 0;
}

.footer-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 20px 40px 20px;
}
.icons-contact {
  width: 20%;

  img {
    width: 80%;
  }
  .icons-container {
    display: flex;
    gap: 40px;
    margin: 20px 0 0 0;
    a {
      svg {
        width: 50px;
        height: 50px;
      }
      color: $branco;
      &:hover {
        color: $segunda;
        @include transicao($tempo: 0.4s, $tipo: ease);
        @include scala($escala: 1.05);
      }
    }
  }
}
.footer-menu {
  width: 18%;
  h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    font-family: $font;
  }
  .links-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    a {
      color: $branco;
      font-family: $font;
      font-size: 1.2em;
      &:hover {
        color: $segunda;
      }
    }
  }
}

.icons-contact,
.footer-contact,
.footer-hours {
  width: 25%;

  h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    font-family: $font;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 20px 0;
    a {
      color: $branco;
      font-family: $font;
      font-size: 1.2em;
      &:hover {
        color: $segunda;
      }
    }
  }
  .horarios-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    p {
      color: $branco;
      font-size: 1.2em;
      font-family: $font;
    }
  }
  .maps {
    width: 300px;
    height: 170px;
    border: 3px solid $segunda !important;
    border-radius: 10px;
  }
}
.final-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid $branco;
  &-links {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: center;
    padding: 10px;

    a {
      color: $branco;
      font-family: $font;
      font-size: 1em;
      &:hover {
        color: $segunda;
      }
    }
  }
}
.direitos h3 {
  text-align: center;
  padding: 10px;
  color: $branco;
  font-family: $font;
  font-size: 1em;
}
#message {
  cursor: pointer;
}
